.git
.github
.agents
.claude
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
tests
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
npm-debug.log
yarn-error.log
